.example-card {
  max-width: 400px;
  max-height: 100%;
  height: 800px;

}
.grid-tile{
height: 810px;
text-align:center;
}
.product-list{

 }

.header-card {
  height: 60px;
}
.mat-card-image {
height: 600px;
}
.example-header-image {
  background-size: cover;
}


.product-button{
  width: 100%;
  border: 3px solid #73AD21;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 17px;
  text-align: center;
}
.action-card{
  text-align: center;
}
