<main role="main">

  <div class="album py-5 bg-light">
    <div class="container bar-fixer">

      <div class="col-md-4" *ngFor="let product of productList">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../../assets/images/{{product.image}}" alt={{product.title}} data-holder-rendered="true">
          <div class="card-body text-center" >
            <p class="h3 card-title">{{product.title}}</p>
            <p class="card-text h6">{{product.brand}}</p>
            <p class="card-text">{{product.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" (click)="addToCart(product.id, amount)">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>

