<main role="main">
  <div class="container bar-fixer">

  <form class="form-signin" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus [(ngModel)]="user.username" name="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="user.password" name="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" [(ngModel)]="remember" name="remember"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

  </div>

</main>
