<div class="login-form" >

  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" >
  <mat-card class="login-card">
    <mat-form-field>
      <input matInput placeholder="Username"   [(ngModel)]="user.username" name="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="remember" name="remember">Remember</mat-checkbox>
    <button mat-raised-button class="product-button" type="submit">Login</button>
  </mat-card>
</form>
</div>
